* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: black;
}



h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

h1 span {

    color: rgb(166, 184, 7);
}

h2 {
    color: white;
    text-align: center;
}

p {
    margin-top: 30px;
    color: white;
    font-size: 20px;
    width: 500px;
    text-align: center;
}


section {
    margin-left: 100px;
}

img {
    height: 200px;
    height: 300px;
    border-radius: 50%;
    left: 50px;
    background-size: cover;
}

button {
    margin-top: 40px;
    margin-left: 50px;
    background: rgb(236, 5, 5);
    border-radius: 20.5px;
    color: black;
    font-size: 20px;
    width: 458px;
    height: 64px;
    border: none;
    font-weight: 700;
    filter: drop-shadow(0px 4px 4px rgba(247, 249, 250, 0.2));

}

#aracaju-frente {
    margin-left: 30px;
    min-width: 600px;
    max-height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}

#aju-praca {
    margin-left: 30px;
    max-height: 300px;
    max-width: 400px;
}

#titulo-dois {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

#praca-fausto {
    margin-left: 30px;
    min-width: 600px;
    max-height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}

#praia-atalaia {
    margin-left: 30px;
    min-width: 600px;
    max-height: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

#praia {
    margin-left: 30px;
    min-width: 600px;
    max-height: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

.aju {
    
    max-width: 600px;
    min-width: 200px;
}

#volt {
    width: 100px;
    text-decoration: underline;
    
}

#vid-show {
    margin-left: 30px;
}

    #pai {
    margin-left: 30px;
    min-width: 300px;
    max-height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    }

    #curt{
        margin-left: 30px;
        min-width: 300px;
        max-height: 300px;
        border: 1px solid black;
        border-radius: 5px;

    }

    #ara {
        margin-left: 30px;
        min-width: 300px;
        max-height: 300px;
        border: 1px solid black;
        border-radius: 5px;
    }

video {
    margin-bottom: 15px;
    min-width: 300px;
}

@media (max-width: 700px) {
    img {
        height: 300px;
        width: 200px;
    }

    div {
        flex-direction: column;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    section {
        margin: 0;
    }

    button {
        height: 40px;
        width: 450px;
        font-size: 20px;
    }

    volt {
        max-width: 600px;
        min-width: 300px;
        font-size: 20px;
    }
}